body {
  background-color: rgb(219, 228, 236);
  display: flex;
  justify-content: center;
}

h1 {
  font-size: xx-large;
  text-transform: capitalize;
  text-align: center;
}

p {
  padding: 0.7rem;
  margin-top: -1rem;
}
img {
  width: 100%;
  height: 25rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.underlining {
  height: 0.3rem;
  width: 10rem;
  background-color: rgb(111, 166, 214);
  border-radius: 1rem;
  margin-top: -1rem;
}
.tour {
  display: flex;
  justify-content: center;
}
.tour-container {
  width: 70rem;
  background-color: white;
  margin: 2rem 0 2rem 0;
}

.head-price {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.head-price span {
  padding: 1rem;
  color: rgb(13, 141, 150);
  font-weight: 500;
}
